{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    {% if app.user %}
        <header>
            <div class="border-bottom-0" id="container" >
                <div class="row d-flex justify-content-evenly align-items-center">
                    <div class="col-md-2 d-flex flex-column">
                        <img src="{{ asset('images/logo/logo.jpg') }}" alt="Logo" style="width: 150px; margin-left:2.5vw">
                    </div>
                    <div class="col-md-8">
                        <nav class="col-md-12 d-flex justify-content-between">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_admin') }}" class="text-decoration-none">back-office</a>
                            {% endif %}
                            <a href="{{ path('app_home') }}" class="text-decoration-none" style="color: #00497C">accueil</a>
                            <a href="{{ path('app_list_theme') }}" class="text-decoration-none">thèmes</a>
                            <a href="{{ path('app_my_space') }}" class="text-decoration-none">mon espace</a>
                            <a href="{{ path('app_cart') }}" class="text-decoration-none" >panier</a>
                            <a href="{{ path('app_logout') }}" class="text-decoration-none" >se déconnecter</a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    {% endif %}
    {% if not app.user %}
        <header>
            <div class="border-bottom-0" id="container">
                <div class="row d-flex justify-content-evenly align-items-center">
                    <div class="col-md-2 d-flex flex-column ">
                        <img src="{{ asset('images/logo/logo.jpg') }}" alt="Logo" style="width: 150px; margin-left:2.5vw">
                    </div>
                    <div class="col-md-8">
                        <nav class=" col-md-12 d-flex justify-content-evenly  ">
                            <a href="{{ path('app_home') }}" class="text-decoration-none" style="color: #00497C" >accueil</a>
                            <a href="{{ path('app_register') }}" class="text-decoration-none" >s'inscrire</a>
                            {% set loginRoute = dataSource == 'mongodb' ? 'app_login_mongo' : 'app_login_sql' %}
                            <a href="{{ path(loginRoute) }}" class="text-decoration-none"  >se connecter</a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    {% endif %}
    <div id="container" style="padding-bottom: 15vh" >
            <div id="container" class="row" style="margin: 5vw; background-color: #F1F8FC">
                <h2 style="margin-top: 2vw; margin-left: 5vw" >description de l’entreprise :</h2>
                <div class="row">
                    <p  class="col" style="margin-top: 2vw; margin-left: 20vw" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in interdum ante. Praesent tincidunt leo et sagittis eleifend. Morbi pretium justo nec dictum imperdiet. Ut quis ligula ligula. Cras et mauris ut urna porttitor iaculis et a ex. Aliquam erat volutpat. Praesent gravida urna sed dolor placerat elementum. Cras egestas lacus tortor, et eleifend augue ornare vel. Quisque ligula massa, venenatis at rhoncus et, viverra vel odio. Pellentesque libero justo, sollicitudin ac pharetra eget, fermentum vitae urna. Integer quis turpis congue, ultrices magna non, venenatis urna. Pellentesque euismod libero eget lacus tincidunt sagittis. Curabitur iaculis orci eget nibh ultrices, non tempus augue scelerisque. 
                    Integer massa risus, sollicitudin at cursus at, volutpat ut diam. In lobortis purus a commodo convallis. Sed in placerat dolor. In finibus sodales sapien id sodales. Aliquam non venenatis mi, at tempus enim. In hac habitasse platea dictumst. Donec nibh lorem, lacinia porttitor congue ac, semper at nulla. Etiam vel tristique nibh, ac gravida eros.</p>
                </div>
                <a class="btn btn-outline-dark d-flex align-items-center justify-content-center" id="button" style="margin-top: 3vw; margin-left: 5vw">voir</a>
            </div>
    </div>
{% endblock %}