{{ form_start(add_form_mongo, {
    'enctype': 'multipart/form-data',
    'attr': {'id': 'add-form'}
}) }}
<div class="row align-items-center">
    <div class="col-md-12">
        <div class="row mb-3">
            <div class="col-md-6 ">
                <p>email :</p>
                {{ form_label(add_form_mongo.email, null, { label: false} ) }}
                {{ form_widget(add_form_mongo.email, { 'attr': {  style:"width: 35vw;"}}) }}
                {{ form_errors(add_form_mongo.email) }}
            </div>
            <div class="col-md-6">
                <p>mot de passe :</p>
                {{ form_label(add_form_mongo.password, null, { label: false} ) }}
                {{ form_widget(add_form_mongo.password, { 'attr': {  style:"width: 35vw;"} }) }}
                {{ form_errors(add_form_mongo.password) }}
            </div>
        </div>
        <div class="d-flex justify-content-end gap-2">
            <p>email vérifié :</p>
            {{ form_row(add_form_mongo.isVerified, 
                 { label: false, attr: { disabled: 'disabled' }} ) }}
            {{ form_row(add_form_mongo._token) }}
            <input type="hidden" name="add_mode" value="1">
            <input type="hidden" name="storage" value="mongo">
            <button type="submit" class="btn btn-outline-dark d-flex align-items-center justify-content-center" id="button" style="width:15vw; height:5vh">ajouter</button>
        </div>
    </div>
</div>
{{ form_end(add_form_mongo, { 'render_rest': false }) }}